@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  color: #343434;
}

html {
  background-color: rgb(153 171 187);
}

body {
  background-image: url("../images/background.png");
  background-size: cover;
}

/* estilização timer */
.image-effect {
  background-color: rgb(153 171 187 / .6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  align-items: center;
  background-color: rgb(213 213 213 / .8);
  border-radius: 5px;
  display: flex;
  width: 70vw;
  height: 90vh;

  padding: 25px 5px;
}

.container-timer {
  flex-basis: 50%;
  text-align: center;
}

.container-timer button {
  color: rgb(42 64 84 / .5);
  background: rgb(132 167 197 / .5);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.container-timer .modality {
  font-size: 1.125rem;
  padding: 0 14px;
  height: 41px;
  margin: 0 0 15px 18px;
}

.active-button { 
  background-color: #84A7C5 !important;
  color: #2A4054 !important;
}


.container-timer p {
  font-size: 6.25rem;
  font-weight: bold;
  margin: 30px 0;
  color: #343434
}

.container-timer .start {
  background-color: #84A7C5;
  font-size: 1.625rem;
  text-transform: uppercase;
  width: 200px;
  height: 55px;
  box-shadow: 2.5px 2.5px rgb(0 0 0 / .5);
  color: #2A4054;
}
 
.pomodoro-times {
  margin: 30px 0;
}

.pomodoro-times span {
  font-weight: bold;
  font-size: 1.4em;
}


/* Estilização divisória */
.divider {
  background-color: #B0B0B0;
  height: 95%;
  width: 1px;
}


/* Estilização tarefas */
.tasks {
  flex-basis: 50%;
  text-align: center;
}

.tasks h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.tasks form input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #84A7C5;
  width: 350px;
  outline: none;
  padding: 15px 15px 5px;
  font-size: 1rem;
}

.tasks form input::placeholder {
  color: #999999;
}

.tasks form button {
  background: #84A7C5;
  border: none;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  font-size: 0.938rem;
  font-weight: bold;
  margin-left: -36px;
  cursor: pointer;
}

.tasks-list {
  display: flex;
  background: #DBDBDB;
  border-radius: 5px;
  max-width: 386px;
  min-height: 70px;
  max-height: 403px;
  margin: 0 auto;
  margin-top: 28px;
  text-align: left;
  /* overflow: auto; */
}

.tasks-list ol {
  margin: 18px;
  width: 100%;
  overflow: auto;

  list-style-position: inside;
}

.tasks-list ol::-webkit-scrollbar {
  display: none;
}

.tasks-list ol li {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  width: 90%;
  margin: 0 25px 0 12.5px;
  padding: 10px 18px 15px 6px;
}

.tasks-list img {
  cursor: pointer;
  vertical-align: middle; /* Alinha verticalmente a imagem com o texto */
  float: right;
  box-sizing: border-box;
}

.divider-task {
  border: 1px solid #b0b0b0b7;
}

.tasks-list ol::-webkit-scrollbar {
  visibility: hidden;
}


@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}


@media (max-width: 430px) {
  .tasks form input {
    max-width: 200px;
  }

  .tasks-list {
    max-height: 200px;
  }
}


.container-timer .toggle {
  box-shadow: none; 
  transform: translateX(2.5px) translateY(2.5px);
}